<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="logo"><i class="logo-smog">Smog</i><i class="logo-free">Free</i> </br> <i class="logo-bike">Bike</i></h1>
        </div>
        <div class="col-md-3">
            <div class="menu-btn" onclick="window.location.href='/'">
                Wyszukiwarka
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-btn" onclick="window.location.href='/onas'">
                O nas
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-btn" onclick="window.location.href='/kontakt'">
                Kontakt
            </div>
        </div>
    </div>
    <hr/>
    <!--<div class="form-group">-->
    <div class="row">
        <div class="col-md-3">
            <p>Jesteśmy grupą studentów Politechniki Wrocławskiej. W ramach zajęć z Zarządzania Wytwarzaniem i Integracją Systemów Informatycznych stworzyliśmy pod nadzorem dr Kazimierza Frączkowskiego aplikację do wyszukiwania tras rowerowych, która pozwala na unikanie obszarów o zanieczyszczonym powietrzu.</p>
        </div>
    </div>
    <div class="row">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/vwBpKpqZkUo" frameborder="0" allowfullscreen></iframe>
    </div>

</div>